<DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="main.css">
	<title>ParseQ</title>
</head>
<body ng-app='parseQ' ng-controller = 'mainCtrl'>
	<div class="navBar">
		<input type="text" ng-model='question'>
		<button ng-click="postQuestion()">Submit</button>
	</div>
	<div class="container">
		<div class="row">
			<div class="queue enter">
				<div class = "question" ng-repeat = "q in queue | filter: {status: 'red'}">
					<div ng-click="escalate()">{{q.question}}</div>
				</div>
			</div>

			<div class="queue helping">
				<div class="question" ng-repeat = "q in queue | filter: {status: 'yellow'}">
					<div ng-click="delFromQ()">{{q.question}}</div>
				</div>
			</div>
		</div>
	</div>

<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
<script src="js/app.js"></script>
<script src="js/defaultHeaders.js"></script>
<script src="js/mainCtrl.js"></script>
<script src="js/parseService.js"></script>
</body>
</html>